*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/src/main/res/layout/activity_rule.xml

app/src/test/java/com/cmsc355/curry_crackers_cats/booktrade/ActivityRule.java
